<section id="contact">
    <div class="container p-5 my-auto">
        <div class="contact-form-wrapper d-flex justify-content-center">
            <form action="#" class="contact-form">
                <h5 class="title">Bizimle İletişime Geçin</h5>
                <p class="description">Öneri, istek ve şikayetleriniz için ya da sorularınız için bizimle
                    7 gün 24 saat iletişime geçmekten çekinmeyin.
                </p>
                <div>
                    <input type="text" class="form-control rounded border-white mb-3 form-input" id="name"
                        placeholder="Name" required>
                </div>
                <div>
                    <input type="email" class="form-control rounded border-white mb-3 form-input" placeholder="Email"
                        required>
                </div>
                <div>
                    <textarea id="message" class="form-control rounded border-white mb-3 form-text-area" rows="5"
                        cols="30" placeholder="Message" required></textarea>
                </div>
                <div class="submit-button-wrapper">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>