<nav id="mainNav" class="navbar border-bottom navbar-expand-lg fixed-top shadow-sm">
    <div class="container px-5">
        <a class="navbar-brand" href="http://localhost:4200/"><img src="../../../assets/images/logos/pine-logo-white.svg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menü
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="#about-us">Hakkımızda</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Özellikler</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#faq">SSS</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="#download">İndir</a></li>
            </ul>
            <button class="btn rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="bi bi-search-heart"></i>
                    <span>Keşfet</span>
                </span>
            </button>
        </div>
    </div>
</nav>