<section id="faq">
    <div class="container p-5 my-auto">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Sıkça Sorulan Sorular</h2>
                <p class="subtitle">En çok sorulan soruların cevaplarını sizler için derledik.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Pine Ink nedir?</h6>
                        <p class="text-muted">Dövme sektörünün ihtiyaçlarına çözüm üretecek şekilde geliştirilen Pine Ink,
                            dövme severler ve sanatçılar arasındaki iletişimi güçlendirerek sanatçıların müşteriye ulaşmasını
                            kolaylaştırırken, dövme severlerin de "işte bu" dediği tasarımları bulmasına yardımcı olan bir uygulamadır.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Ben bir dövme sanatçısıyım, yaptığım dövmelerimi paylaşmak için hesap oluşturmam gerekir mi?</h6>
                        <p class="text-muted">Evet. Eğer yaptığınız sanatı potansiyel müşterilerinizle paylaşmak istiyorsanız üye olduktan sonra
                            profilinize giderek gerekli ek bilgileri doldurmanız ve gerçek bir sanatçı profili oluşturmanız gerekmektedir.
                        </p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Sadece dövme modellerine bakmak istiyorum. Yine de hesap oluşturmam gerekir mi?</h6>
                        <p class="text-muted">Hayır. Dövme modellerini keşfetmeniz için hesap oluşturmanıza gerek yoktur.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Pine Ink mobil uygulaması var mı?</h6>
                        <p class="text-muted">Pine Ink mobil uygulaması henüz yapım aşamasındadır.
                            Tamamlandıktan sonra uygulama marketlerinden kolayca indirebilir ve Pine'lamaya kaldığınız yerden devam edebilirsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 mx-auto text-center">
                <h5 class="mb-4">Başka bir sorunuz mu var?</h5>
                <button class="btn px-3 mb-2 mb-lg-0" href="www.pineink.net/discover" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                    <span class="d-flex align-items-center">
                        <span class="small">Bizimle İletişime Geçin</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>