#faq {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
}

.subtitle {
    color: #78909C;
    font-size: 1.25rem;
    font-family: Poppins-Regular;
}

.text-muted{
    color: #78909C !important;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Poppins-Regular;
    font-size: 1rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat-Bold;
    line-height: 1.5;
    color: #ffffff;
    font-size: 2rem;
}

h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Montserrat-SemiBold;
    line-height: 1.5;
    color: #ffffff;
    font-size: 1rem;
}

h5 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    font-size: 1.25rem;
}

.btn{
    font-family: Montserrat-Bold;
    font-size: larger;
    color: #fff;
    border: 0;
    background-image: linear-gradient(45deg, #2937f0, #9f1ae2);
}
  
.btn:active{
    color: #000;
}