<section id="about-us" class="text-center">
    <div class="container my-auto">
        <div class="row gx-0 justify-content-center align-items-center">
            <div class="col-xl-10 mb-3">
                <h2>
                    Pine Ink ülkemizdeki dövme sanatçılarını aynı çatı altında toplayarak onların sanatının ve işlerinin
                    herkese ulaşmasını hedefleyen dijital bir topluluktur.
                </h2>
            </div>
            <div class="col-xl-10 mt-3">
                <h2>
                    Pine Ink olarak hedefimiz sizi bir sonraki dövmeniz için aklınızdaki çizgiye en uygun çalışan sanatçılar ile
                    buluşturmak! Tüm bunları yaparken aynı zamanda da ülkemizdeki sanatçıları desteklemeyi ve dövme
                    sanatı sektöründeki incelikleri sanat severlere tanıtmayı istiyoruz.
                </h2>
            </div>
        </div>
    </div>
</section>