<section id="download-app" class="bg-gradient-primary-to-secondary">
    <div class="container p-5 my-auto">
        <h2 class="text-center">Sizleri mobil uygulamamızla tanıştırmak için biz de çok heyecanlıyız. Çok yakında mobil uygulamamız App Store ve Google Play Store'da!</h2>
        <!-- <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
            <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="../../../../../assets/images/playstore-badge.svg" alt="..." /></a>
            <a href="#!"><img class="app-badge" src="../../../../../assets/images/appstore-badge.svg" alt="..." /></a>
        </div> -->
    </div>
</section>