<section id="features" class="text-center">
    <div class="container p-5 my-auto">
        <div class="row gx-0 justify-content-center align-items-center">
            <div class="col-md-10 mx-auto">
                <div class="row feature-boxes">
                    <div class="col-md-6 box">
                        <div class="icon-box box-warning">
                            <div class="icon-box-inner">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <h5>Saniyeler içinde keşfetmeye başla</h5>
                        <p class="text-muted">Hesap oluşturmak zorunda kalmadan bizzat sanatçısı tarafından yüklenmiş
                            fotoğraflar ile gerçek dövme modellerini keşfet.</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-success">
                            <div class="icon-box-inner">
                                <i class="bi bi-share"></i>
                            </div>
                        </div>
                        <h5>Sanatını potansiyel müşterilerinle paylaş</h5>
                        <p class="text-muted">Dövme sanatçılarımızın yaptığı işleri herkesin görebilmesi,
                            sanatın herkese ulaşması bizim için çok önemli!</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-danger">
                            <div class="icon-box-inner">
                                <i class="bi bi-suit-heart"></i>
                            </div>
                        </div>
                        <h5>Kolayca kullan, dilediğince eğlen</h5>
                        <p class="text-muted">Basit ve anlaşılır arayüzü sayesinde Pine Ink'i hiç zorlanmadan kullanabilir,
                            bir sonraki dövmeni kolayca yaptırarak hayatına renk katabilirsin.
                        </p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-info">
                            <div class="icon-box-inner">
                                <i class="bi bi-people"></i>
                            </div>
                        </div>
                        <h5>Dijital Topluluğumuza Katıl</h5>
                        <p class="text-muted">Bu kıymetli sektörün tüm paydaşları burada. Sen de Pine'la, bizden uzak kalma!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>